.card-blog{
    border: none;
    box-shadow: 2px 2px 8px rgb(132,156,187);
    margin: 20px;
}
.img-blog{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 0.25;
}

.row-blog > * {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.title-blog{
    color:  rgb(5,76,132);
    text-decoration: none;
}

.date-blog{
    color: rgb(132,156,187);
}
.icons-blogs{
    justify-content: right;
    margin-right: 1rem;
}
.iconos-blogs{
    color: rgb(5,76,132);
    background-color: transparent;
    border:none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .row-blog{
        justify-content: center;
    }
    .card-blog{     /* Esto antes no estaba */
        max-width: 260px;
    } 

}

@media screen and (min-width: 576px) and (max-width: 600px) {     /* Esto antes no estaba */
    .row-blog {
      justify-content: left;
    }
  }


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {     /* Esto antes era center*/
    .row-blog{
        justify-content: left;
    }

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* .container-blog{
        padding-left: 4rem;
    } */
    .row-blog{     /* Esto antes era left */
        justify-content: center;
    }
    .card-blog {
        flex: 0 0 calc(33.33% - 20px);
        /* max-width: calc(33.33% - 20px); */
        max-width: 325px;     /* Esto antes no estaba */
        margin: 10px;
    }
    .card-blog{/* Esto antes no estaba */
        min-width: 199px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .card-blog{
        margin-right: 2.2rem;
    }
}

@media only screen and (min-width: 1400px) {

}