.container-cell-icon{
    background-color: transparent;
    position: fixed;
    bottom: 25px;
    right: 10px; /* Alinea con la esquina derecha */
    z-index: 999; /* Asegura que esté por encima del contenido */
}
.all-cell-icon{
    padding: 1rem;
    justify-content: right;
}
.btn-cell-icon{
    border:1px solid rgb(132,156,187);
    box-shadow: 2px 2px 8px rgb(132,156,187);
}
.cell-icon{
    color:rgb(5,76,132);
    font-size: 4rem;
}
.cell-icon:hover{
    color:rgba(1,179,229,255);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container-cell-icon{
        right: 3px; /* Alinea con la esquina derecha */
        bottom: 5px;
    }
    .cell-icon{
        padding: 0.5rem 0.3rem 0.5rem 0.3rem;
        font-size: 2.5rem;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container-cell-icon{
        right: 5px; /* Alinea con la esquina derecha */
        bottom: 5px;
    }
    .cell-icon{
        padding: 0.5rem 0.3rem 0.5rem 0.3rem;
        font-size: 3rem;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container-cell-icon{
        bottom: 10px;
        right: 7px; /* Alinea con la esquina derecha */
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container-cell-icon{
        bottom: 25px;
        right: 10px; /* Alinea con la esquina derecha */
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1400px) {

}