.container-contacto{
    padding: 2rem;
    background-color: #F4F9FC;
}
.title-contacto{
    color:rgb(5,76,132);
    text-align: center;
}
.paragraph-contact{
    padding: 0rem 1rem 1rem 1rem;
}
.imagen-logo-contacto{
    height: 10rem;
}
.text-contacto{
    color: rgb(132,156,187);
    text-align: center;
    align-self: center;
}
.text-asterisco{
    color: rgb(132,156,187);
    padding-top: 1rem;
    text-align: center;
}
.contacto-horario{
    color:rgba(1,179,229,255);
    font-weight: bold;
}
.card-contacto{
    border-radius: 0.2rem;
    border: none;
    box-shadow: 2px 2px 8px rgb(132,156,187);
    margin:1rem;
    /* background-color:  #F4F9FC; */
}
.row-contact{
    justify-content: center;
}
.icono-email{
    color:rgb(5,76,132);
    font-size: 5rem;
    align-self: center;
    text-align: center;
}
.icono-tlf{
    color:rgb(5,76,132);
    font-size: 4rem;
    align-self: center;
    text-align: center; 
}
.icono-whatsapp{
    color:rgb(37 211 102);
    font-size: 5rem;
    align-self: center;
    text-align: center;
}
.link-contacto{
    text-align: center;
}
.form-contacto{
    background-color:rgb(5,76,132);
    border-radius: 0.2rem;
    border: none;
    box-shadow: 2px 2px 8px rgb(132,156,187);
    padding: 0.5rem;
}
.label-contacto{
    color:white
}
.btn-contacto{
    background-color: rgba(1,179,229,255);
    color: white;
}
.btn-contacto:hover{
    color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.text-contacto {
    font-size: 1rem;
}
.text-contacto-form{
    font-size: 1rem;   
}
.icono-email{
    font-size: 3rem;
    margin:0.5rem;
}
.icono-tlf{
    font-size: 2.5rem;
    margin:0.5rem
}
.icono-whatsapp{
    font-size: 3rem;
    margin:0.5rem
}
.imagen-logo-contacto{
    height: 7rem;
}
.row-contact{
    padding: 0 1rem 0 1rem;
}
.card-form-contacto{
    padding: 2rem 1rem 0rem 1rem;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .text-contacto {
        font-size: 1.25rem;
    }
    .text-contacto-form{
        font-size: 1.25rem;   
    }
    .icono-email{
        font-size: 3rem;
        margin:0.5rem;
    }
    .icono-tlf{
        font-size: 2.5rem;
        margin:0.5rem
    }
    .icono-whatsapp{
        font-size: 3rem;
        margin:0.5rem
    }
    .imagen-logo-contacto{
        height: 7rem;
    }
    .row-contact{
        padding: 0 3rem 0 3rem;
    }
    .card-form-contacto{
        padding: 3rem 3rem 0rem 3rem;
        align-self: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
/* .all-type-contact{
    padding: 0 3rem 0 3rem;
} */
.row-contact{
    padding: 0 2rem 0 2rem;
}
.card-form-contacto{
    padding: 1rem 1rem 0rem 1rem;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .icono-email{
        font-size: 2.5rem;
        margin-left: 0.5rem;
    }
    .icono-tlf{
        font-size: 2rem;
        margin:0.5rem
    }
    .icono-whatsapp{
        font-size: 2.5rem;
        margin-left: 0.5rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .row-contact{
        padding: 0 3rem 0 3rem;
    }
    .card-form-contacto{
        padding: 1rem 3rem 0rem 3rem;
    }
}