.carousel-container{
    display: flex;
}
.carousel-caption {
    color: white;
    z-index: 2;
    width: 70%; /* Ajusta el ancho del cuadro de texto */ 
    height: 70%;
    padding: auto;
}
.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(91, 90, 90, 0.7);
    z-index: 1; /* Coloca la capa oscura detrás de la imagen */
}

.carousel-control-prev .carousel-control-next .carousel-indicators{
    position:absolute;
    z-index: 3;
}

.caption-title {
    font-size: 4vw;
    color:rgb(5,76,132);
}

.caption-description {
    font-size: 3vw; /* Ajusta el tamaño de fuente según tus preferencias */
}

.carousel-item img {
    width: 100%;
    height: auto; /* Ajusta automáticamente la altura según el ancho */
    max-height: 700px; /* Establece una altura máxima si es necesario */
    object-fit: cover; /* Hace que la imagen cubra todo el contenedor */
}
.card-info-home{
    border:none;
    margin-bottom: 2rem;
}
.img-1-home{
    border-radius: 1rem;
    position:relative;
    height: 100%;
}
.card-home-text{
    background-color: rgba(1,179,229,255);
    border-radius: 1rem;
    text-align: center;
    position:absolute;
}
.card-text-info{
    color:  rgb(5,76,132);
    font-weight: bold;
}
.card-links-home{
    color:white;
    text-decoration: none;
}
.card-links-home:hover{
    color:rgb(5,76,132);
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .card-info-home{
        padding:1rem;
    }
    .card-text-info{
        padding: 1rem;
        font-size: 3.5vw;
    }
    .card-home-text{
        top:20%;
        right:-10%;
        height: 90%;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .card-info-home{
        padding:2rem;
    }
    .card-text-info{
        padding: 2rem;
        font-size: 24px;
    }
    .card-home-text{
        top:20%;
        left:20%;
        width: 90%;
        height: 90%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .card-text-info{
        padding: 1rem;
        font-size: 15px;   
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .card-text-info{
        font-size: 20px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .card-text-info{
        padding: 2rem;
        font-size: 27px;
    }
}