
.post-submit{
    background-color: rgb(5,76,132);
    color:white;
}

.post-submit:hover{
    color:white;
}

.post-encabezado{
    color:rgb(5,76,132);
    text-align: center;
}

.post-title{
    color: rgb(132,156,187);
    font-weight:600;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .post-container{
        padding: 2rem;
    }
    .postea-container{
        padding-top: 2rem;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .post-container{
        padding: 4rem;
    }
    .postea-container{
        padding-top: 2rem;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .postea-container{
        padding-top: 0rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1400px) {

}