.container-post{
    padding: 4rem;
    text-align: -webkit-center;
    background-color: #F4F9FC;
}
.img-post{
    /* width: 75%; */
    padding-top: 2rem;
}
.title-post{
    color:rgb(5,76,132);
}

.date-post{
    color:rgb(132,156,187);
    text-align: right;
}
.description-post{
    text-align: justify;
    color: rgb(132,156,187);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .img-post{
        width: 100%;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .img-post{
        width: 60%;
    }
    .all-post{
        width: 75%;
    }
    .description-post{
        padding: 1rem 3rem 0 3rem;
        font-size: 1.25rem;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1400px) {

}