.container-specialties{
    background-color: #F4F9FC;
}
.all-specialties{
    justify-content: center;
    text-align: center;
}
.title-specialties{
    padding-top: 1rem;
}
.subtitle-specialties{
    color:rgb(5,76,132);
    text-align: center;
    margin: 1rem;
}
.description-especialidades{
    text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .all-specialties{
        padding: 1rem 1rem 1rem 1rem;
    }
    .description-especialidades{
        font-size: 1rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .all-specialties{
        padding: 1rem 2rem 1rem 2rem;
    }
    .description-especialidades{
        font-size: 1rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .description-especialidades{
        font-size: 1.10rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}