.container-tarifas{
    background-color: #F4F9FC;
}

.title-1-tarifas{
    color: rgb(132,156,187);
}
.title-2-tarifas{
    color: rgba(1,179,229,255);
}

.tarifas-texto2{
    padding-top: 2rem;
}
.tarifas-texto{
    text-align-last: center;
}

.all-carousel-tarifas{
    padding-top: 2rem;
}
.img-carousel-tarifas{
    border-radius: 0.25rem;
}
.title-tarifas{
    color:rgb(5,76,132);
    text-align: center;
    padding-top: 2rem;
}
.subtitle-tarifas{
    color:rgba(1,179,229,255);
    margin: 1rem;
}
.text-tarifas{
    color: rgb(132,156,187);
    margin:1rem;
    text-align: justify;
}
.link-text-tarifas{
    color: rgb(5,76,132);
}
.all-tarifas{
    padding: 1rem 2rem 3rem 2rem;
    justify-content: center;
}
.row-text-tarifas{
    display: flex;
}
.row-tarifas{
    justify-content: center;
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}
.card-tarifas{
    border-radius: 0.2rem;
    border: none;
    box-shadow: 2px 2px 8px rgb(132,156,187);
    /* background-color: #F4F9FC; */
}
.card-bono-tarifas{
    text-align: center;
}
.bono-title-tarifas{
    color:rgb(5,76,132);
}
.bono-precio-tarifas{
    color: rgb(132,156,187);
}
.bono-sesion-tarifas{
    color:rgba(1,179,229,255);
}
.btn-bono-tarifas{
    background-color:rgb(5,76,132);
    color:white;
}
.btn-bono-tarifas:hover{
    background-color:rgba(1,179,229,255);
    color:white;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .bono-title-tarifas{
        font-size: 1.25rem;
        line-height: 1;
    }
    .bono-precio-tarifas{
        font-size: 1rem;
        line-height: 1;
    }
    .bono-sesion-tarifas{
        font-size: 1rem;
        line-height: 1;
        padding-bottom: 0.5rem;
    }
    .text-tarifas{
        font-size: 1rem;
    }
    .all-tarifas{
        padding: 1rem 1rem 3rem 1rem;
    }
    .card-tarifas{
        width: 55%;
        margin: 1rem;
    }
}

/* Estilos para pantallas entre 576px y 600px (incluyendo ambos tama침os) */
@media screen and (min-width: 576px) and (max-width: 600px) {
    .card-tarifas{
        width: calc(35% - 10px); /* 25% de ancho con 5px de margen a cada lado */
        margin: 10px; /* M치rgenes de 5px */
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .all-tarifas{
        padding: 1rem 2rem 3rem 2rem;
    }
    .bono-title-tarifas{
        font-size: 1.25rem;
    }
    .bono-precio-tarifas{
        font-size: 1.15rem;
    }
    .bono-sesion-tarifas{
        font-size: 1.15rem;
        padding-bottom: 0.5rem;
    }
    .text-tarifas{
        font-size: 1.25rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .subtitle-tarifas{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .card-tarifas{
        width: calc(35% - 10px); /* 25% de ancho con 5px de margen a cada lado */
        margin: 10px; /* M치rgenes de 5px */
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .bono-title-tarifas{
        font-size: 1.5rem;
    }
    .bono-precio-tarifas{
        font-size: 1.5rem;
    }
    .bono-sesion-tarifas{
        font-size: 1.5rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1400px) {
    .card-tarifas{
        width: calc(25% - 20px); /* 25% de ancho con 5px de margen a cada lado */
        margin: 10px; /* M치rgenes de 5px */
    }
}